---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";
@import "basically-basic";

.inner {
    max-width: 100vw !important;
}

.site-logo {
    width: 150px;
    height: 150px;
    margin-right: 0.5rem;
    border-radius: 50%;
    filter: invert(30%) sepia(5%) saturate(493%) hue-rotate(175deg) brightness(98%) contrast(82%);
}
