---
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";
@import "basically-basic";

.inner {
    max-width: 100vw !important;
}

.site-logo {
    width: 200px;
    height: 200px;
    margin-right: 0.5rem;
    border-radius: 50%;
    filter: invert(8%) sepia(7%) saturate(1897%) hue-rotate(177deg) brightness(97%) contrast(92%);
}

.btn {
    background-color: #4a694a;
}
